.App {
  text-align: center;
}

.red {
  color: #e60023;
}

.bold {
  font-weight: bold;
}

.App button{
  background: #0f9d58;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.App button:hover{
  background: #1db954;
}

.App button.red{
  background: #e60023;
}

.App button.red:hover {
  background: #fc183a;
}

